
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url('./Images/cura.png') 10 10, auto;
}


.share-tech-mono-regular {
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
}


body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #F3F3E0;
    color: #133E87;}


.container{
    margin: auto;
    width: 900px;
}


.heading{
    padding-top: 20px;
    font-family: 'Share Tech Mono';
    text-align: start;
}


#main-head{
    font-size: 50px;
}


#second-head{
    font-size: 30px;
}


.para-1{
    font-size: 25px;
    color:#384B70;
    font-weight: bold;
}
 

#hover-link {
    text-decoration: underline;
    cursor: url('./Images/curs1.png') 5 5, auto;
    color: #CC2B52;
}


#hover-link:hover {
    text-decoration: none;
    color: black;
    cursor: url('./Images/curs1.png') 5 5, auto;
}


.Albums{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


#covers{
    border-radius: 8px;
    width: 210px;
    height: 210px;
    
}


.button{
    opacity: 160%;
    border-radius: 9px;  
    width: 210px;
    height: 210px;
    cursor: url('./Images/curs1.png') 5 5, auto;
    transition: transform 0.3s ease-in-out;
}
 

.button:hover{
    opacity: 50%;
    cursor: url('./Images/curs1.png') 5 5, auto;
    transform: scale(1.096);
} 


#head-btn{
    text-decoration: dashed underline;
    border: none;
    cursor: url('./Images/curs1.png') 5 5, auto;
    color: #CC2B52;
}

@media (max-width: 768px) {
    #main-head {
        font-size: 2rem;
    }

    .para-1 {
        font-size: 1rem;
    }

    .covers {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 480px) {
    #main-head {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    .para-1 {
        font-size: 0.9rem;
    }

    .covers {
        width: 100px;
        height: 100px;
    }
}
