*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url('./Images/curs1.png') 5 5, auto;
}

.share-tech-mono-regular {
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
  

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #F3F3E0;
    color: #133E87;
    
}

.container{
    margin: auto;
    width: 900px;
}

.heading{
    padding-top: 20px;
    font-family: 'Share Tech Mono';
    text-align: start;
}

#main-head{
    font-size: 50px;
}

#second-head{
    font-size: 30px;
}

.para-1{
    font-size: 25px;
    color:#384B70;
    font-weight: bold;
}
 


#hover-link {
    text-decoration: underline;

    color: #CC2B52;
  }

#hover-link:hover {
    text-decoration: none;
    color: black;
}

.Albums{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#covers{
   
    width: 210px;
    height: 210px;
}


.btn{
    opacity: 160%;
       
    width: 210px;
    height: 210px;
}
 

.btn:hover{
    opacity: 50%;
   
} 

#head-btn{
    text-decoration: dashed underline;
    border: none;

}